<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Androcentrismo</key>
	<string>É a visão de mundo que situa o homem como centro de todas as coisas. O macho ocupa uma posição central na sociedade, na cultura e na história. O conceito está muito relacionado com o patriarcado, mas também com a discriminação contra a mulher.</string>
	<key>Bropriating</key>
	<string>Significa que um homem ganhou todo o crédito por expressar uma ideia que uma mulher já tinha falado há tempos, ou seja, ele se apropriou de algo que não foi originalmente pensado por ele.</string>
	<key>Cultura do estupro</key>
	<string>Esse conceito se refere a uma sociedade que permite e tolera as agressões sexuais, se culpa a vítima, se banaliza o estupro ou se considera que não se trata de estupro quando o autor é o companheiro da vítima.</string>
	<key>Disparidade de gênero</key>
	<string>A diferença entre as taxas masculina e feminina dentro de uma variável, e se calcula subtraindo taxa feminina da taxa masculina. Ou seja, quanto menor for o índice de disparidade entre homens e mulheres, mais perto estaremos da igualdade.</string>
	<key>Empoderamento</key>
	<string>Refere-se à tomada de consciência do poder que as mulheres ostentam individual e coletivamente e que tem a ver com o resgate de sua própria dignidade como pessoa. </string>
	<key>Feminazi</key>
	<string>Popularizada para criticar o feminismo militante, essa palavra é usada em sentido pejorativo para se referir a feministas tachadas como radicais, sob o argumento de que o feminismo não procura a igualdade entre homens e mulheres.</string>
	<key>Feminicídio</key>
	<string> Assassinato de uma mulher em função de seu sexo. Trata-se de um crime de ódio contra mulheres e meninas pelo simples fato de elas serem mulheres ou meninas.</string>
	<key>Feminismo</key>
	<string>Movimento social e político que defende a igualdade de direitos entre homens e mulheres.</string>
	<key>Femismo</key>
	<string>Esse neologismo é usado em português para definir o “machismo ao contrário”, ou seja, a noção de que as mulheres são superiores aos homens. Costuma ser equiparado à misandria (ódio aos homens).</string>
	<key>Gaslighting</key>
	<string>Tipo de abuso psicológico que faz com que a mulher pense que enlouqueceu ou que está errada sobre um assunto, mesmo que estando certa. Faz com que ela duvide da sua própria sanidade, raciocínio e memória.</string>
	<key>Machismo</key>
	<string>O machismo pressupõe que as mulheres são por natureza seres inferiores aos homens. Pode-se dizer dizer que é um conjunto de crenças, práticas sociais, condutas e atitudes que promovem a negação da mulher como sujeito em diversos âmbitos: econômico, familiar, sexual, legislativo, etc.</string>
	<key>Mansplaining</key>
	<string>Quando um homem explica algo a uma mulher, e o faz de maneira condescendente porque dá como certo que sabe mais do que ela.</string>
	<key>Manspreading</key>
	<string>Diz-se de quando um passageiro (homem) abre tanto as pernas ao estar sentado no transporte público que ocupa o espaço do passageiro sentado ao seu lado.</string>
	<key>Manterrupting</key>
	<string>Do inglês “interrupção masculina”, é quando um homem constantemente interrompe uma mulher falando – geralmente pra fazer mansplaining ou…</string>
	<key>Masculinismo</key>
	<string>Movimento que procura a igualdade entre o homem e a mulher da perspectiva masculina.</string>
	<key>Misoginia</key>
	<string>É o ódio ou aversão a mulheres e meninas. Além da sua manifestação em forma de violência (seja física, psicológica ou simbólica), também a humilhação, a discriminação, a marginalização e a objetificação sexual da mulher são formas de misoginia.</string>
	<key>Objetificação</key>
	<string>Utilizado em referência à objetificação sexual feminina, que não é outra coisa do que tratar as mulheres como objetos, limitando-as a seus atributos sexuais e à sua beleza física, sem levar em conta sua personalidade e sua existência como pessoa.</string>
	<key>Patriarcado</key>
	<string>É o sistema sociopolítico em que o gênero masculino e a heterossexualidade têm supremacia sobre outros gêneros e sobre outras orientações sexuais.</string>
	<key>Sexismo</key>
	<string>Discriminação das pessoas em razão do sexo. </string>
	<key>Slutshaming</key>
	<string>Uma forma de estigma social aplicada a pessoas, especialmente mulheres e meninas, que são percebidas por violar as expectativas tradicionais machistas de comportamentos sexuais.</string>
	<key>Sororidade</key>
	<string>“O apoio recíproco entre as mulheres para se conseguir o poder para todas”. É uma aliança entre as mulheres, que proporciona a confiança, o reconhecimento mútuo da autoridade e o apoio.</string>
	<key>Teto de vidro</key>
	<string>Na carreira profissional, trata-se da limitação velada à ascensão profissional das mulheres no interior das organizações. É um obstáculo ‘invisível’ na carreira das mulheres, difícil de superar, que as impede de chegar a cargos de maior responsabilidade e liderança.</string>
</dict>
</plist>
